<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Sign Up</h3>
      <div class="card-text">
        <%= render 'users/registrations/form' %>
      </div>
    </div>
  </div>
</div>